.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.busForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputField {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputField:focus {
    border-color: #007bff;
    outline: none;
}

.searchButton {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #0056b3;
}

.errors{
    color : red;
    text-align : center;
}
